.sidebaritems{
  max-height: calc(100vh - 122.2px);
}

.sidebaritems::-webkit-scrollbar{
  width: 0.4rem;
}
.sidebaritems::-webkit-scrollbar-track{
  background-color: transparent;
  margin-right: 0.3rem;
}
.sidebaritems::-webkit-scrollbar-thumb{
  border-radius: 9999px;

  background: #94a3b8;
}

.tableclass::-webkit-scrollbar{
  height: 0.4rem;
}
.tableclass::-webkit-scrollbar-track{
  background-color: transparent;
  margin-right: 1rem;
}
.tableclass::-webkit-scrollbar-thumb{
  border-radius: 9999px;
  background: #94a3b8;
}

.vscrollbar::-webkit-scrollbar{
  width: 0.4rem;
  height: 0.4rem;
}
.vscrollbar::-webkit-scrollbar-track{
  background-color: transparent;
  margin-block: 1rem;


}
.vscrollbar::-webkit-scrollbar-thumb{
  border-radius: 9999px;
  background: #fff;
}


.navscrollbar::-webkit-scrollbar{
  height: 0.2rem;
  width: 0.2rem;
}
.navscrollbar::-webkit-scrollbar-track{
  background-color: transparent;
  margin-inline: 1rem;
  margin-block: 1rem;

}
.navscrollbar::-webkit-scrollbar-thumb{
  border-radius: 9999px;
  background: #898ac0;
}

